/*BLINDS*/
.blind{
    cursor: pointer;
    text-align: center;
    float: left;
}
.blind .option-image{
    width: 107px;
    height: 158px;
    margin: 0 auto;
    background: url("/img/blinds_open_close.jpg");
}
.blind.blind-open .option-image{
    background-position-y: -158px;
}
.blind.blind-close .option-image{
    background-position-y: 0px;
}