@import url("blinds.css");
@import url("lights.css");

p{
    color: red;
    font-size: 24px;
    font-weight: bold;

}
thead tr{
    font-weight: bold;
}
tr{
    border-top: 1px solid #222;
}
tr:last-of-type{
    border-bottom: 1px solid #222;
}
td{
    padding: 10px;
}
table { 
    border-collapse: collapse; 
}
/*.btn{
    padding: 10px;
    border-radius: 10px;
    background: aquamarine;
    display: inline-block;
}*/
.row{
    padding: 10px 0px;
}

/*@import url('https://fonts.googleapis.com/css?family=Numans');*/

html,body{
    background-image: url('/img/login_bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
}

.container{
    height: 100%;
    align-content: center;
}

.card{
    height: 370px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
    font-size: 60px;
    margin-left: 10px;
    color: #FFC312;
}

.social_icon span:hover{
    color: white;
    cursor: pointer;
}

.card-header h3{
    color: white;
}

.social_icon{
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span{
    width: 50px;
    background-color: #FFC312;
    color: black;
    border:0 !important;
}

input:focus{
    outline: 0 0 0 0  !important;
    box-shadow: 0 0 0 0 !important;

}

.remember{
    color: white;
}

.remember input
{
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn{
    color: black;
    background-color: #FFC312;
    width: auto;
}

.login_btn:hover{
    color: black;
    background-color: white;
}

.links{
    color: white;
}

.links a{
    margin-left: 4px;
}

/*404*/
.error-template {
    padding: 80px 15px;
    text-align: center;
    color: #FFFFFF;
}
.error-actions {margin-top:15px;margin-bottom:15px;}
.error-actions .btn { margin-right:10px; }


